<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salazar.cs3354.txstate.edu.datapathsimulator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".practice"
            android:label="@string/title_activity_practice"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.MainActivity" />
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:parentActivityName=".ChooseTestType">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.ChooseTestType" />
        </activity>
        <activity
            android:name=".DataPathSim"
            android:label="@string/title_activity_data_path_sim"
            android:parentActivityName=".ChooseTestType">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.ChooseTestType" />
        </activity>
        <activity
            android:name=".answer1"
            android:label="@string/title_activity_answer1"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer2"
            android:label="@string/title_activity_answer2"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer3"
            android:label="@string/title_activity_answer3"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer4"
            android:label="@string/title_activity_answer4"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer58"
            android:label="@string/title_activity_answer5"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer6"
            android:label="@string/title_activity_answer6"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".answer7"
            android:label="@string/title_activity_answer7"
            android:parentActivityName=".Test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.Test" />
        </activity>
        <activity
            android:name=".ChooseTestType"
            android:label="@string/title_activity_choose_test_type"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salazar.cs3354.txstate.edu.datapathsimulator.MainActivity" />
        </activity>
        <activity
            android:name=".Sim"
            android:label="@string/title_activity_data_path_sim"
            android:parentActivityName=".DataPathSim">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DataPathSim" />
        </activity>
    </application>

</manifest>